.slider {
    width: 90%;
    max-width: 900px;
    height: 400px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* تخفیف */
.discount {
    position: absolute;
    top: 20px;
    left: 20px;
    background: red;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
}

/* دکمه‌ها */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    background: #3b82f6;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
}

.prev { right: 10px; }
.next { left: 10px; }

.prev:hover, .next:hover {
    background-color: #3b82f6;
}