body {
  margin: 0;
  font-family: "Vazirmatn", sans-serif;
  background-color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 26px;
  background:#1e1e1e;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Right: Store name */
.store-name {
  font-size: 33px;
  font-weight: 700;
  color: #f4f4f4;
  white-space: nowrap;
}

/* Center: Search bar */
.search-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box form {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  max-width: 500px;
  width: 200%;
}

.search-box input {
  flex: 1;
  padding: 10px 12px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #ffffff;
}

.search-box button {
  background:#1e1e1e;
  border: none;
  color: #fff;
  padding: 10px 14px;
  cursor: pointer;
}

.search-box button i {
  font-size: 18px;
}

/* Left: Icons */ 
.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icons a {
  color: #fff9f9;
  font-size: 30px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.icons i:hover {
  color:#3b3b3b;
}
main {
  padding: 40px 20px;
  background-color: #f4f4f4;
  min-height: 4000px;
  text-align: center;
}
 

.moto-footer {
  background:#1e1e1e;
  color: #ffffff;
  text-align: center;
  padding: 50px 20px;
  font-family: "Vazirmatn", Tahoma, sans-serif;
  direction: rtl;
}

.footer-content h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #ffffff;
}

.footer-content p {
  font-size: 15px;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.subscribe-form input {
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 400px;
}

.subscribe-form button {
  padding: 10px 20px;
  background: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
}

.footer-social a {
  margin: 0 10px;
  color: #eee;
  text-decoration: none;
  font-size: 16px;
}

.footer-social a:hover {
  color: #3b3b3b;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 14px;
  color: #aaa;
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }

  .header-icons i {
    font-size: 24px;
  }

  .header-text h1 {
    font-size: 32px;
  }
}